{% include 'partials/header_budget.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>My (DEMO) Budget Dashboard Using Plotly</h1>
    </div><br>

    <style>
        #dashboard-plotly > div {
            width: 800px!important;
            height: 600px!important;
        }
    </style>
    <div id="dashboard-plotly" class="d-flex justify-content-center">
         load plotly_dash %}

         plotly_app name="BudgetDemo" %}
    </div>

{% include 'partials/footer_budget.html' %}
