{% include 'partials/header_budget.html' %}
    <h1>D3.js Test Page</h1>

    <script>
        (function () {
                window.bank_info = JSON.parse('{{bank_info|safe}}');
                window.credit_card = JSON.parse('{{credit_card|safe}}');
                window.bank_lines = JSON.parse('{{bank_lines|safe}}');
                window.cc_lines = JSON.parse('{{cc_lines|safe}}');
                window.cc_pays = JSON.parse('{{cc_pays|safe}}');
            }());
    </script>
    {% load static %}
    <script src="{% static 'scripts/dashboard.js' %}"></script>

{% include 'partials/footer_budget.html' %}
