{% include 'partials/header_budget.html' %}
    <h1>Display Data</h1>

    <div id="select-data"></div>
    <div id="show-data"></div>
    <script>
        //declarations and setup SVG
        var dataset = ["Expense", "Revenue"];
        var line_items = JSON.parse('{{line_items|safe}}');
        var svg_height = 800;
        var svg_width = 600;
        //var svg = d3.select('#show-data').append('svg')
         //   .attr('height', svg_height).attr('width', svg_width);

        // drop-down boxes - not inside SVG.
        var dd_box = d3.select('#select-data').append('select')
            .attr('class', 'select')
            .attr('id', 'dd_box')
            .on('change', onChange);

        var dd_options = dd_box.selectAll('option')
            .data(dataset).enter()
            .append('option')
                .text(function (d) { return d; });

        function onChange() {
            selectValue = d3.select('#dd_box').property('value')
            d3.select('#select-data')
                .append('p')
                .text(selectValue + ' is the last selected option.')
        };

        // table set up
        var table = d3.select('#show-data').append('table')
            .attr('style', 'margin-left: 250px');
        var thead = table.append('thead');
        var tbody = table.append('tbody');

        // header
        var header = thead.append('tr');
        var header_values = ["name", "category", "amount", "date_stamp"];
        var col_names = header.selectAll('th')
            .data(header_values).enter().append('th')
            .text(function(d) { return d; });

        // table data
        var rows = tbody.selectAll('tr')
            .data(line_items).enter().append('tr');

        var cells = rows.selectAll('td')
            .data(function(row) {
                return header_values.map(function(col) {
                    return {column: col, value: row[col]};
                });
            }).enter().append('td')
            .text(function(d) { return d.value; });
    </script>

{% include 'partials/footer_budget.html' %}
