{% include 'partials/header_budget.html' %}
    <div id="my_title" class="d-flex justify-content-center">
        <h1>Budget Data</h1>
    </div><br>

    <div id="select-data"></div>
    <div id="show-data"></div>
    <script>
        (function () {
                window.expense = {{expense|safe}};
                window.revenue = JSON.parse('{{revenue|safe}}');
            }());
    </script>
    {% load static %}
    <script src="{% static 'scripts/budget/load_table.js' %}"></script>

{% include 'partials/footer_budget.html' %}
