{% include 'partials/header.html' %}
    <h1>D3.js Test Page</h1>

    <script>
        var bank_info = JSON.parse('{{bank_info|safe}}');
        var credit_card = JSON.parse('{{credit_card|safe}}');
        var bank_lines = JSON.parse('{{bank_lines|safe}}');
        var cc_lines = JSON.parse('{{cc_lines|safe}}');
        var main_svg = d3.select("body").append("svg")
            .attr("width", 1100).attr("height", 2200);
        var factor = 70;
        var recent_number = 3;  // show recent # of transactions

        // set default min and max date - convert to milliseconds
        minDate = Date.parse("2020-01-01");
        maxDate = Date.parse("2020-02-01");

        // new svg function
        function add_info_box(data, account_type, main_svg, initial_height, factor) {
            // create nested svg with initial height set and surrounding box
            var nested_svg = main_svg.append("svg")
                .attr("width", 300).attr("height", factor*(data.length+1))
                .attr("x", 0).attr("y", initial_height);
            var nested_box = nested_svg.append("rect")
                .attr("width", 280).attr("height", factor*(data.length+1/2))
                .attr("x", 10).attr("y", 1)
                .style("fill", "none")
                .style("stroke", "#AAAAAA")
                .style("stroke-width", 1);
            // create text to indicate what this nested svg is for
            var nested_text = nested_svg.append("text")
                .style("text-anchor", "middle")
                .attr("x", 150).attr("y", 25)
                .attr("font-family", "roboto")
                .attr("font-size", "1.1em")
                .attr("fill", "white")
                .text(function(d) { return account_type; });
            // create a second layer of nested svg for the actual accounts
            var svg = nested_svg.append("svg")
                .attr("width", 270).attr("height", data.length*factor)
                .attr("x", 15).attr("y", 30);
            // create group element
            var groups = svg.selectAll("g")
                .data(data).enter().append("g");
            // initial box
            var each_box = groups.append("rect")
                .attr("x", 10).attr("width", 250)
                .attr("y", function(d,i) { return (i+1-0.95)*factor; })
                .attr("height", factor-5)
                .style("fill", function(d) { return d.colour; });
            // box name
            var box_name = groups.append("text")
                .style("text-anchor", "middle")
                .attr("x", 135)
                .attr("y", function(d,i) { return (i+1-0.6)*factor; })
                .attr("font-family", "roboto")
                .attr("font-size", "1.25em")
                .attr("fill", "white")
                .text(function(d) { return d.nickname; });
            // box for the amount
            var amount_box = groups.append("rect")
                .attr("x", 60).attr("width", 150)
                .attr("y", function(d,i) { return (i+1-0.47)*factor; })
                .attr("height", 25)
                .style("fill", "#222222");
            // actual amount
            var amount = groups.append("text")
                .style("text-anchor", "middle")
                .attr("x", 135)
                .attr("y", function(d,i) { return (i+1-0.25)*factor; })
                .attr("font-family", "roboto")
                .attr("font-size", "0.7em")
                .attr("fill", "white")
                .text(function(d) { return "$" + d.balance; });
            // clickable transparent box overtop
            var click_box = groups.append("rect")
                .attr("x", 10).attr("width", 250)
                .attr("y", function(d,i) { return (i+1-0.95)*factor; })
                .attr("height", factor-5)
                .style("fill-opacity", 0)
                .attr("class", account_type.toLowerCase().replace(/ /g, '_'))
                .attr("id", function(d) { return d.nickname.replace(/ /g, ''); });
            return factor*(data.length+1);
        }
        // call svg function for both bank account and credit cards
        box_length1 = add_info_box(bank_info, "Bank Accounts", main_svg, 0, factor);
        box_length2 = add_info_box(credit_card, "Credit Cards", main_svg, box_length1, factor);

        // graph to show
        var graph_space = main_svg.append("svg")
            .attr("x", 300).attr("width", 700)
            .attr("y", 0.05*factor).attr("height", 700);
        var show_graph = graph_space.append("g");

        // get max and min values
        function get_min(revs) {
            var min = revs[0].amount;
            for (i=0; i < revs.length; i++) {
                if (min > revs[i].amount) {
                    min = revs[i].amount;
                }
            }
            return min;
        };
        function get_max(revs) {
            var max = revs[0].amount;
            for (i=0; i < revs.length; i++) {
                if (max < revs[i].amount) {
                    max = revs[i].amount;
                }
            }
            return max;
        };

        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 50, bottom: 30, left: 50},
            width = 600 - margin.left - margin.right,
            height = 600 - margin.top - margin.bottom;
        var print_text = show_graph.append("text")
            .style("text-anchor", "middle")
            .attr("x", 250).attr("y", 50)
            .attr("font-family", "roboto")
            .attr("font-size", "1em")
            .attr("fill", "white")
            .text(function(d) {return Date(minDate) + ' ' + maxDate;});
        // add scale and then display X axis
        var x_scale = d3.scaleTime()
            .domain([minDate, maxDate])
            .range([0, width]);
        show_graph.append("g")
            .attr("transform", "translate(50," + (height+10) + ")")
            .attr("class", "x_axis")
            .call(d3.axisBottom(x_scale)
                .tickFormat(d3.timeFormat("%Y-%m-%d")))
            .selectAll("text")
                .style("text-anchor", "end")
                .attr("transform", "rotate(-65)");
        // add the Y axis
        var y = d3.scaleLinear()
            .domain([0,1000])
            .range([height,0]);
        show_graph.append("g")
            .attr("transform", "translate(50, 10)")
            .attr("class", "y_axis")
            .call(d3.axisLeft(y));
        // declare dots but don't place any
        var dot = show_graph.selectAll('circle')
            .data(bank_info).enter().append('circle');

        // update function
        function updateChart(accountData) {

            // get the correct data sets, this will return as list of dict(s)
            //data = bank_info.filter(obj => obj.name === whichAccount)

            // get min and max values again
            var min_rev = get_min(accountData);
            var max_rev = get_max(accountData);

            // get min and max dates
            var minDate = d3.min(accountData, function(d) { return Date.parse(d.date_stamp); });
            var maxDate = d3.max(accountData, function(d) { return Date.parse(d.date_stamp); });

            // print text to check
            //print_text
                //.text(function(d) {return max_rev;});

            // reset the Y and X axis
            x_scale
                .domain([minDate, maxDate]);
            show_graph.selectAll("g.x_axis")
                .transition().duration(1000)
                .call(d3.axisBottom(x_scale)
                    .tickFormat(d3.timeFormat("%Y-%m-%d")))
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("transform", "rotate(-65)");
            y
                .domain([min_rev, max_rev]);
            show_graph.selectAll("g.y_axis")
                .transition().duration(1000)
                .call(d3.axisLeft(y));

            // load the new data
            dot
                .data(accountData);

            // remove any surplus data points first
            show_graph.exit().remove();

            // plot the remaining dots
            dot
                .transition().duration(1000)
                .attr("cx", function(d) { return x_scale(Date.parse(d.date_stamp))+50; })
                .attr("cy", function(d) { return y(+d.amount)+10 })
                .attr("r", 4).style("fill", "#2f7fef");

            return;
        };

        // get appropriate account
        function get_data(whichAccount, account_type) {
            var data = [];

            if (account_type === "bank") {
                // look thru bank accounts
                for (i=0; i < bank_info.length; i++) {
                    check_str = bank_info[i].nickname.replace(/ /g, '');
                    if (check_str === whichAccount) {
                        id = bank_info[i].id;
                        for (j=0; j < bank_lines.length; j++) {
                            if (bank_lines[j].to_transaction === id) {
                                data.push(bank_lines[j]);
                                if (data.length == recent_number) {
                                    return data;
                                }
                            } else if (bank_lines[j].from_transaction === id) {
                                data.push(bank_lines[j]);
                                if (data.length == recent_number) {
                                    return data;
                                }
                            }
                        }
                    }
                }
            } else {
                // look thru credit cards
                //print_text
                    //.text(function() {return account_type;});
                for (i=0; i < credit_card.length; i++) {
                    check_str = credit_card[i].nickname.replace(/ /g, '');
                    //print_text
                        //.text(function() {return check_str + credit_card.length;});
                    if (check_str === whichAccount) {
                        id = credit_card[i].id;
                        for (j=0; j < cc_lines.length; j++) {
                            if (cc_lines[j].to_credit_card === id) {
                                print_text
                                    .text(function() {return typeof cc_lines[j].to_credit_card;});
                                data.push(cc_lines[j]);
                                if (data.length == recent_number) {
                                    return data;
                                }
                            }
                        }
                    }
                }
            }

            return data;
        };

        // on click - the class bank_accounts
        d3.selectAll(".bank_accounts").on("click", function(d) {
            var which_account = d3.select(this).property("id");
            accountData = get_data(which_account, "bank");
            print_text
                .text(function() {return accountData;});
            updateChart(accountData);
        })
        // on click - the credit cards
        d3.selectAll(".credit_cards").on("click", function(d) {
            var which_account = d3.select(this).property("id");
            accountData = get_data(which_account, "cc");
            //print_text
                //.text(function() {return accountData;});
            updateChart(accountData);
        })
    </script>

{% include 'partials/footer.html' %}
