{% include 'partials/header.html' %}
    <h1>D3.js Test Page</h1>

    <p>Using Line Items...</p>
    <p>{{type}}</p>
    <!--ul>
        {% for item in data %}
        <li>{{item}}</li>
        {% endfor %}
    </ul-->

    <!--script>
        d3.select("body").append("svg")
        .attr("width", 50).attr("height", 50)
        .append("circle").attr("cx", 25).attr("cy", 25)
        .attr("r", 25).style("fill", "yellow");
    </script-->

    <!-- below didn't work -->
    <!--script>

        // var theData = JSON.parse({{ item }});
        var theData = JSON.parse({{ line_items|safe }});
        // print(theData);
        // var theData = {{line_items}};
        d3.json(theData, function(d) {console.log(d)});

    </script-->

    <!--p>Output data list passed in the Views: {{data}}</p>
    <script>
        var data = {{data}};
        var svgContainer = d3.select("body").append("svg")
            .attr("width", 500).attr("height", 500);
        var circles = svgContainer.selectAll("circle")
            .data(data).enter().append("circle");
        var circleAttributes = circles
            .attr("cx", function(d) { return d; })
            .attr("cy", function(d) { return d; })
            .attr("r", 20).style("fill", function(d) {
                var returnColor;
                if (d < 50) { returnColor = "green"; }
                else if (d >= 50 && d < 200) { returnColor = "orange"; }
                else { returnColor = "blue"; }
                return returnColor
            });
    </script-->

    <!--h3>JSON data list passed in the Views</h3>
    <script>
        var data = JSON.parse('{{json_data|safe}}');
        var svgContainer = d3.select("body").append("svg")
            .attr("width", 220).attr("height", 220);
        var circles = svgContainer.selectAll("circle")
            .data(data).enter().append("circle");
        var circleAttributes = circles
            .attr("cx", function(d) { return d.x_axis; })
            .attr("cy", function(d) { return d.y_axis; })
            .attr("r", function(d) { return d.radius; })
            .style("fill", function(d) { return d.color });
    </script-->

    <h3>Pass JSON Line Items</h3>
    <script>
        var list = JSON.parse('{{line_items|safe}}');
        var bodyList = d3.select("body").append("ul");
        var listItem = bodyList.selectAll("li")
            .data(list).enter().append("li");
        var itemText = listItem
            .text(function(d) { return d.name; });
    </script>

    <h3>Expenses Chart</h3>
    <script>
        var exp_list = JSON.parse('{{expenses|safe}}');
        var bubbles = d3.select("body").append("svg")
            .attr("width", 300).attr("height", 300);
        var circles = bubbles.selectAll("circle")
            .data(exp_list).enter().append("circle");
        var circle_attributes = circles
            .attr("cx", function(d) { return d.id })
            .attr("cy", function(d) { return d.amount })
            .attr("r", function(d) {return d.amount })
            .style("fill", function(d) {
                var returnColor;
                if (d.category == "Food") { returnColor = "green"; }
                else if (d.category == "Activities") { returnColor = "red"; }
                return returnColor;
            });
    </script>

{% include 'partials/footer.html' %}
