{% include 'partials/header.html' %}
    <h1>D3.js Test Page</h1>
    <!--p>Using Line Items...</p>
    <p>{{type}}</p-->
    <!--ul>
        {% for item in data %}
        <li>{{item}}</li>
        {% endfor %}
    </ul-->
    <!--script>
        d3.select("body").append("svg")
        .attr("width", 50).attr("height", 50)
        .append("circle").attr("cx", 25).attr("cy", 25)
        .attr("r", 25).style("fill", "yellow");
    </script-->
    <!-- below didn't work -->
    <!--script>

        // var theData = JSON.parse({{ item }});
        var theData = JSON.parse({{ line_items|safe }});
        // print(theData);
        // var theData = {{line_items}};
        d3.json(theData, function(d) {console.log(d)});

    </script-->
    <!--p>Output data list passed in the Views: {{data}}</p>
    <script>
        var data = {{data}};
        var svgContainer = d3.select("body").append("svg")
            .attr("width", 500).attr("height", 500);
        var circles = svgContainer.selectAll("circle")
            .data(data).enter().append("circle");
        var circleAttributes = circles
            .attr("cx", function(d) { return d; })
            .attr("cy", function(d) { return d; })
            .attr("r", 20).style("fill", function(d) {
                var returnColor;
                if (d < 50) { returnColor = "green"; }
                else if (d >= 50 && d < 200) { returnColor = "orange"; }
                else { returnColor = "blue"; }
                return returnColor
            });
    </script-->
    <!--h3>JSON data list passed in the Views</h3>
    <script>
        var data = JSON.parse('{{json_data|safe}}');
        var svgContainer = d3.select("body").append("svg")
            .attr("width", 220).attr("height", 220);
        var circles = svgContainer.selectAll("circle")
            .data(data).enter().append("circle");
        var circleAttributes = circles
            .attr("cx", function(d) { return d.x_axis; })
            .attr("cy", function(d) { return d.y_axis; })
            .attr("r", function(d) { return d.radius; })
            .style("fill", function(d) { return d.color });
    </script-->
    <!--h3>Pass JSON Line Items</h3>
    <script>
        var list = JSON.parse('{{line_items|safe}}');
        var bodyList = d3.select("body").append("ul");
        var listItem = bodyList.selectAll("li")
            .data(list).enter().append("li");
        var itemText = listItem
            .text(function(d) { return d.name; });
    </script-->

    <!--h3>Expenses Chart</h3>
    <script>
        var exp_list = JSON.parse('{{expenses|safe}}');
        var category = JSON.parse('{{category|safe}}');
        var svg = d3.select("body").append("svg")
            .attr("width", exp_list.length*200).attr("height", exp_list.length*100);
        var bar_chart = svg.selectAll("g")
            .data(exp_list).enter().append("g");
        var bar_attributes = bar_chart.append("rect")
            .attr("x", 10)
            .attr("y", function(d) { return (d.id-0.95)*100 })
            .attr("width", function(d) { return d.amount })
            .attr("height", 95)
            .style("fill", function(d) { return category[d.category-1].colour; });
        var bar_text = bar_chart.append("text")
            .style("text-anchor", "start")
            .attr("x", function(d) { return d.amount + 20 })
            .attr("y", function (d) { return (d.id-0.5)*100 })
            .attr("font-family", "roboto")
            .attr("font-size", "1em")
            .attr("fill", "white")
            .text(function(d) { return "$" + d.amount; });
    </script-->

    <script>
        var bank_info = JSON.parse('{{bank_info|safe}}');
        var credit_card = JSON.parse('{{credit_card|safe}}');
        var main_svg = d3.select("body").append("svg")
            .attr("width", 1100).attr("height", 2200);
        var factor = 70;

        // new svg function
        function add_info_box(data, main_svg) {
            // create nested svg
            var svg = main_svg.append("svg")
                .attr("width", 270).attr("height", data.length*factor);
            // create group element
            var groups = svg.selectAll("g")
                .data(data).enter().append("g");
            // initial box
            var each_box = groups.append("rect")
                .attr("x", 10).attr("width", 250)
                .attr("y", function(d) { return (d.id-0.95)*factor; })
                .attr("height", factor-5)
                .style("fill", function(d) { return d.colour; });
            // box name
            var box_name = groups.append("text")
                .style("text-anchor", "middle")
                .attr("x", 135)
                .attr("y", function(d) { return (d.id-0.6)*factor; })
                .attr("font-family", "roboto")
                .attr("font-size", "1.25em")
                .attr("fill", "white")
                .text(function(d) { return d.nickname; });
            // box for the amount
            var amount_box = groups.append("rect")
                .attr("x", 60).attr("width", 150)
                .attr("y", function(d) { return (d.id-0.47)*factor; })
                .attr("height", 25)
                .style("fill", "#222222");
            // actual amount
            var amount = groups.append("text")
                .style("text-anchor", "middle")
                .attr("x", 135)
                .attr("y", function(d) { return (d.id-0.25)*factor; })
                .attr("font-family", "roboto")
                .attr("font-size", "0.7em")
                .attr("fill", "white")
                .text(function(d) { return "$" + d.balance; });
            // clickable transparent box overtop
            var click_box = groups.append("rect")
                .attr("x", 10).attr("width", 250)
                .attr("y", function(d) { return (d.id-0.95)*factor; })
                .attr("height", factor-5)
                .style("fill-opacity", 0)
                .attr("class", "bank_account")
                .attr("id", function(d) { return d.nickname; });
            return data.length*factor;
        }
        // call svg function for both bank account and credit cards
		add_info_box(bank_info, main_svg);
		add_info_box(credit_card, main_svg);

		/* comment out to test new svg function
		var banks = main_svg.append("svg")
			.attr("width", 270).attr("height", bank_info.length*70)
        var bank_svg = banks.selectAll("g")
            .data(bank_info).enter().append("g");
        var factor = 70;
        // initial box
        var each_bank = bank_svg.append("rect")
            .attr("x", 10).attr("width", 250)
            .attr("y", function(d) { return (d.id-0.95)*factor })
            .attr("height", 65)
            .style("fill", function(d) { return d.colour; });
        var bank_name = bank_svg.append("text")
            .style("text-anchor", "middle")
            .attr("x", 135)
            .attr("y", function(d) { return (d.id-0.6)*factor })
            .attr("font-family", "roboto")
            .attr("font-size", "1.25em")
            .attr("fill", "white")
            .text(function(d) { return d.nickname; });
        // box for the amount
        var amount_box = bank_svg.append("rect")
            .attr("x", 60).attr("width", 150)
            .attr("y", function(d) { return (d.id-0.47)*factor })
            .attr("height", 25)
            .style("fill", "#222222");
        var bank_amount = bank_svg.append("text")
            .style("text-anchor", "middle")
            .attr("x", 135)
            .attr("y", function(d) { return (d.id-0.25)*factor })
            .attr("font-family", "roboto")
            .attr("font-size", "0.7em")
            .attr("fill", "white")
            .text(function(d) { return "$" + d.balance; });
        // put a clickable box on top - but transparent
        var click_box = bank_svg.append("rect")
            .attr("x", 10).attr("width", 250)
            .attr("y", function(d) { return (d.id-0.95)*factor })
            .attr("height", 65)
            .style("fill-opacity", 0)
            .attr("class", "bank_account")
            .attr("id", function(d) { return d.nickname });

        // second set of boxes for credit cards
        var dash2 = main_svg.append("svg").selectAll("g")
            .data(credit_card).enter().append("g");
        // initial box
        var each_cc = dash2.append("rect")
            .attr("x", 10).attr("width", 250)
            .attr("y", function(d) { return (d.id-0.95)*factor+150 })
            .attr("height", 65)
            .style("fill", function(d) { return d.colour; });
        var cc_name = dash2.append("text")
            .style("text-anchor", "middle")
            .attr("x", 135)
            .attr("y", function(d) { return (d.id-0.6)*factor+150 })
            .attr("font-family", "roboto")
            .attr("font-size", "1.25em")
            .attr("fill", "white")
            .text(function(d) { return d.name; });
        // box for the amount
        var cc_amount_box = dash2.append("rect")
            .attr("x", 60).attr("width", 150)
            .attr("y", function(d) { return (d.id-0.47)*factor+150 })
            .attr("height", 25)
            .style("fill", "#222222");
        var cc_amount = dash2.append("text")
            .style("text-anchor", "middle")
            .attr("x", 135)
            .attr("y", function(d) { return (d.id-0.25)*factor+150 })
            .attr("font-family", "roboto")
            .attr("font-size", "0.7em")
            .attr("fill", "white")
            .text(function(d) { return "$" + d.balance; });
        // put a clickable box on top - but transparent
        var cc_click_box = dash2.append("rect")
            .attr("x", 10).attr("width", 250)
            .attr("y", function(d) { return (d.id-0.95)*factor+150 })
            .attr("height", 65)
            .style("fill-opacity", 0)
            .attr("class", "credit_card")
            .attr("id", function(d) { return d.name.replace(/ /g,'') });
        comment out to test new svg function */

        // graph to show
        var graph_space = main_svg.append("svg")
            .attr("x", 300).attr("width", 700)
            .attr("y", 0.05*factor).attr("height", 600);
        var show_graph = graph_space.append("g");

        // get revenue & expense line items
        var revs = JSON.parse('{{revenue|safe}}');
        var exps = JSON.parse('{{expense|safe}}');
        // get max and min values
        function get_min(revs) {
            var min = 1000000;
            for (i=0; i < revs.length; i++) {
                if (min > revs[i].amount) {
                    min = revs[i].amount;
                }
            }
            return min;
        };
        var min_rev = get_min(revs);
        function get_max(revs) {
            var max = 0;
            for (i=0; i < revs.length; i++) {
                if (max < revs[i].amount) {
                    max = revs[i].amount;
                }
            }
            return max;
        };
        var max_rev = get_max(revs);
        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 50, bottom: 30, left: 50},
            width = 600 - margin.left - margin.right,
            height = 600 - margin.top - margin.bottom;
        var print_text = show_graph.append("text")
            .style("text-anchor", "middle")
            .attr("x", 250).attr("y", 50)
            .attr("font-family", "roboto")
            .attr("font-size", "1em")
            .attr("fill", "white")
            .text(function(d) {return max_rev;});
        // put X axis in date format
        var x = d3.scaleLinear()
            .domain([0,10])
            .range([ 0, width ]);
        show_graph.append("g")
            .attr("transform", "translate(50," + (height+10) + ")")
            .attr("class", "x_axis")
            .call(d3.axisBottom(x));
        // add the Y axis
        var y = d3.scaleLinear()
            .domain([ min_rev,max_rev ])
            .range([ height, 0 ]);
        show_graph.append("g")
            .attr("transform", "translate(50, 10)")
            .attr("class", "y_axis")
            .call(d3.axisLeft(y));
        // Initialize dots with group a
        var dot = show_graph.selectAll('circle')
            .data(revs).enter().append('circle')
            .attr("cx", function(d) { return x(+d.id)+50 })
            .attr("cy", function(d) { return y(+d.amount)+10 })
            .attr("r", 4).style("fill", "#2f7fef");

        // update function
        function updateChart(whichAccount) {

            // get the correct data sets, this will return as list of dict(s)
            data = bank_info.filter(obj => obj.name === whichAccount)


            // get min and max values again
            var min_rev = get_min(data);
            var max_rev = get_max(data);

            // print text to check
            print_text
                .text(function(d) {return min_rev;});

            // reset the Y and X axis
            x
                .domain([0, 100]);
            show_graph.selectAll("g.x_axis")
                .transition().duration(1000)
                .call(d3.axisBottom(x));
        }

        // on click - the class
        d3.selectAll(".bank_account").on("click", function(d) {
            var which_account = d3.select(this).property("id");
            updateChart(which_account);
        })
    </script>

{% include 'partials/footer.html' %}
